* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Montserrat, sans-serif;
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.clear {
    clear: both;
}
.header-logo{ 
    margin: 15px 95px 16px 0;
    }


.container{
    max-width: 1170px;
    margin: 0 auto;
    
    
}
nav ul li{
    float: left;
    display: inline; 
    line-height: 90px;
    text-align: center;
    max-width: 118px;
    margin: 0;
    padding: 0 18px;
}
.header-nav{
    margin: 37px 45px 39px 0;
    font-size: 15px;
    font-weight: 500;


    }
.header-social{
    width: 184px;
    margin: 35px 27px 36px 0;
    
    
}
.header-contact{
    float: left;
    font-size: 22px;
    
    
}
.slider{height: 608px;
    background: url(../img/Rectangle\ 2\ copy.png) no-repeat center center;

}

